<div class="detail1">
    <div class="title">
        <h2>犹太人在上海音乐剧</h2>
        <h4>by恒源祥戏剧创意</h4>
    </div>
    <div class="top-content clear">
        <div class="top-content-1"><img src="views/images/u73.png" alt=""></div>
        <div class="top-content-2">
            <ul>
            	<li>165</li>
            	<li>支持者</li>
            	<li>15944</li>
            	<li>支持金额</li>
            	<li>6</li>
            	<li>剩余天数</li>
            	<li>
            	<span class="btn-xm"><a ui-sref="pay1">支持项目</a></span>
            	<img src="views/images/weixin.png" alt="">
            	<span>分享到圈子</span>
            	</li>
            	<li>该项目必须在多少年多少月多少日之前完成32000才算成为一个成功的项目</li>
            </ul>
        </div>
   		<div class="top-content-3 clear">
    		<div class="top-content-3-of1">
    			<span><img src="views/images/hj.png" alt="">话剧</span>
    			<span><img src="views/images/tv.png" alt="">卫视推荐</span>
        		<p>中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式，由中国和以色列的艺术家们珠联璧合，用震撼而动人的舞台作品，铭记历史，向世界反法西斯战争胜利70周年致敬。</p>
    		</div>
    		<div class="top-content-3-of2">
    			<span>恒源祥戏剧创意他的主页联系他</span>
    			<span><img src="views/images/touxiang.png" alt=""></span>
    		</div>
		</div>
    </div>
</div>
<div class="detail2 clear">
    <div class="nav">
    	<span>项目介绍</span>
    	<span>发展历程</span>
    	<span>圈子交流</span>
    </div>
    <div class="bottom-content">
    <div class="img-left">
    	<img src="views/images/xq.png" alt="">
    </div>
    <div class="content-right">	
        <div class="content-right-1">
             <div class="top1">
                  <span>支持5元</span>
                  <span>14位支持者,限5000位</span>
             </div>
             <div class="top2">
                  <p>感谢您的支持,你将获得:</p>
                  <p>1.犹太人在上海手机壁纸一套（共7张）；2.每200人随机抽取1名幸运用户，不满200人也按200人抽取，获赠《犹太人在上海》演员签名海报一份+纪念画册一本；中奖名单将在话题区公布，奖品最终由项目方发送至得奖者手中(免配送费)</p>
                  <p>预计回报时间,活动结束五天内</p>
                  <p>支持5元</p>
             </div>
        </div>
        <div class="content-right-1">
             <div class="top1">
                  <span>支持20元</span>
                  <span>14位支持者,限500位</span>
             </div>
             <div class="top2">
                  <p>感谢您的支持,你将获得:</p>
                  <p>1.犹太人在上海手机壁纸一套（共7张）；2.每200人随机抽取1名幸运用户，不满200人也按200人抽取，获赠《犹太人在上海》演员签名海报一份+纪念画册一本；中奖名单将在话题区公布，奖品最终由项目方发送至得奖者手中(免配送费)</p>
                  <p>预计回报时间,活动结束五天内</p>
                  <p>支持20元</p>
             </div>
        </div>
        <div class="content-right-2">
             <div class="top1">
                  <span>关于支持与退款</span>
             </div>
             <div class="top2">
                  <p>该项目必须在2015年12月15日上午10点前完成¥32，000才算成功，否则订单将取消。</p>
                  <p>订单取消后，您的支持金额，将从你支付的储蓄卡或信用卡原路退回</p>
             </div>
        </div>
    </div>
    </div>
</div>
