<div class="top-nav">
	<div class="nav-list">
		<span>全部</span>
		<span>微电影</span>
		<span>电影</span>
		<span>电视剧</span>
		<span>戏曲</span>
		<span>话剧</span>
		<span>书画</span>
		<span>相声</span>
		<span>戏剧</span>
		<span>音乐剧</span>
		<span>其他</span>
		<span>筹资中</span>
		<span>即将结束</span>
		<span>已成功</span>
		<br>
		<span>最新</span>
		<span>热门</span>
		<span>结束时间</span>
	</div>
</div>
<div class="top-list">
	<span class="list1">
         <img src="views/images/list1.png" alt="">
         <h4>犹太人在上海音乐剧</h4>
         <p>by恒源祥戏剧创意</p>
         <p>中国以色列联合创作的大型史诗音乐剧,抗日胜利反法西斯等等</p>
         <p>音乐剧</p>
         <p>进度条</p>
         <p>
         <span>48%<br>进度</span>
         <span>15333<br>支持金额</span>
         <span>6<br>剩余天数</span>
         </p>
	</span>
	<span class="list1">
         <img src="views/images/list2.png" alt="">
         <h4>犹太人在上海音乐剧</h4>
         <p>by恒源祥戏剧创意</p>
         <p>中国以色列联合创作的大型史诗音乐剧,抗日胜利反法西斯等等</p>
         <p>音乐剧</p>
         <p>进度条</p>
         <p>
         <span>48%<br>进度</span>
         <span>15333<br>支持金额</span>
         <span>6<br>剩余天数</span>
         </p>
	</span>
	<span class="list1">
         <img src="views/images/list3.png" alt="">
         <h4>犹太人在上海音乐剧</h4>
         <p>by恒源祥戏剧创意</p>
         <p>中国以色列联合创作的大型史诗音乐剧,抗日胜利反法西斯等等</p>
         <p>音乐剧</p>
         <p>进度条</p>
         <p>
         <span>48%<br>进度</span>
         <span>15333<br>支持金额</span>
         <span>6<br>剩余天数</span>
         </p>
	</span>
</div>
<div class="pagechange">
	<span>1</span>
	<span>2</span>
	<span>3</span>
	<span>4</span>
	<span>5</span>
	<span>尾页</span>
</div>