<style type="text/css">
		*{margin: 0;padding: 0;}
		.form1{
			width: 400px;height: 325px;
			border: 1px solid #e3e3e3;
			margin: 100px auto;
		}
		.inputtel,.inputpwd{
			width: 355px;
			height: 40px;
			border:1px solid #e3e3e3;
			border-radius: 5px;
			margin: 20px 20px;
		}
		h2{
			margin: 10px auto auto 20px;
		}
		button{
			width: 355px;
			height: 40px;
			border:1px solid #e3e3e3;
			border-radius: 5px;
			margin: 20px 20px;
			background-color: #2bde73;
			color: #fff;
		}
		div{
			margin-left: 30px;
			color: red;
		}
	</style>
</head>
<body ng-controller="cl">
	<form action="#" name="myform" ng-model="myfrom" class="form1" novalidate>
		<h2>登录</h2>
		<input class="inputtel" type="text" name="tel" value="" placeholder="请输入您的手机号" ng-model="tel" required ng-pattern='/^1[34578]\d{9}$/' ng-blur="change1=true" ng-focus="change1=false">

		<div ng-show="myform.tel.$dirty && myform.tel.$error.required && change1">手机号码不能为空</div>
		<div ng-show="myform.tel.$dirty && myform.tel.$error.pattern && change1">请输入正确的电话号码</div>

		<input class="inputpwd" type="text" name="pwd" value="" placeholder="请输入密码" ng-model="pwd" required ng-minlength="6" ng-blur="change2=true" ng-focus="change2=false">

		<div ng-show="myform.pwd.$dirty && myform.pwd.$error.required && change2">密码不能为空</div>
		<div ng-show="myform.pwd.$dirty && myform.pwd.$error.minlength && change2">请输入至少六位密码</div>

		<button type="button"><a ui-sref="mypage.mypage1">登录</a></button>
		<center>新用户?<a ui-sref="regit">立即注册</a></center>
	</form>

	<script type="text/javascript">
	var app = angular.module('fromLogin',[]);
	app.controller("cl",["$scope",function($scope){
		$scope.change = false;
	}]);
	
	</script>
</body>