<div class="aboutMy">
    <div class="p-left">
         <p>修改头像</p>
         <p>创建昵称</p>
         <p>性别</p>
         <p>关注圈子</p>
    </div>
     <div class="p-right">
        <p><img src="views/images/xgtx.png" alt=""></p>
        <p><input type="text" name="" value="" placeholder=""></p>
        <p>
        <input type="radio" name="sex" value="" placeholder="">男
        <input type="radio" name="sex" value="" placeholder="">女
        </p>

        <p>
        <span><input type="checkbox" name="" value="">微电影</span>
        <span><input type="checkbox" name="" value="">电影</span>
        <span><input type="checkbox" name="" value="">电视剧</span>
        <span><input type="checkbox" name="" value="">戏曲</span>
        <span><input type="checkbox" name="" value="">相声</span>
        <span><input type="checkbox" name="" value="">话剧</span>
        <span><input type="checkbox" name="" value="">戏剧</span>
        <span><input type="checkbox" name="" value="">电影</span>
        <span><input type="checkbox" name="" value="">音乐剧</span>
        <span><input type="checkbox" name="" value="">歌剧</span>
        </p>
    </div>
    <div class="clear">
    	
    </div>
	<input type="button" name="" value="保存" class="saveBtn">
</div>