<div class="mypage-top clear">
	<div class="mypage-top-left">
	    <div><img src="views/images/touxing.png" alt=""></div>
	    <div><img src="views/images/tubiao.png" alt=""></div>
	</div>
	<div class="mypage-top-right">
         <div>
         <span class="username">用户FD123456</span>
         <span class="wenhou">下午好!</span>
         </div>
         <div>
         <p>账户安全等级:中</p>
         <p>上次登录时间:2016-1-1 15:02:33</p>
         </div>
	</div>
</div>
<div class="mypage-bottom clear">
	<div class="mypage-bottom-left">
		<ul>
			<a ui-sref="mypage.mypage1"><li>个人主页</li></a>
			<a ui-sref="mypage.mypage2"><li>个人信息</li></a>
			<a ui-sref="mypage.mypage3.1"><li>安全设置</li></a>
			<a ui-sref="mypage.mypage4"><li>关注的圈子</li></a>
			<a ui-sref="mypage.mypage5"><li>购买记录</li></a>
		</ul>
	</div>
	<div ui-view></div>
</div>