<div class="mypage3-1-pwd">
	<p class="clear">
	<span>当前密码</span>
	<input type="text" name="" value="" placeholder="">
	</p>
	<p class="clear">
	<span>新密码</span>
	<input type="text" name="" value="" placeholder="">
	</p>
	<p class="clear">
	<span>已绑定手机</span>
	<input type="text" name="" value="" placeholder="">
	</p>
	<p class="clear">
	<span>验证码</span>
	<input type="text" name="" value="" placeholder="" class="yzm">
	<input type="button" name="" value="免费获取验证码">
	</p>
	<p>
	<input type="button" name="" value="保存" class="sav">
	</p>
</div>