<div class="mypage-right">
<div class="mypage1-of-top">
	<div class="mypage-title1 clear">
	<span><img src="views/images/jx.png" alt=""></span>
	<span>我关注的项目</span>
	</div>
	<div class="mypage-concent1 clear">
		<ul class="clear">
			<li>
				<div>
					<img src="views/images/imgsh.png" alt="" style="vertical-align:middle">
				</div>
				<div>
					<h4><<犹太人在上海>>音乐剧</h4>
					<p>by恒源祥喜剧创意</p>
					<p>已筹集12344</p>
				</div>
			</li>
				<li>
				<div>
					<img src="views/images/imgsh.png" alt="" style="vertical-align:middle">
				</div>
				<div>
					<h4><<犹太人在上海>>音乐剧</h4>
					<p>by恒源祥喜剧创意</p>
					<p>已筹集12344</p>
				</div>
			</li>
				<li>
				<div>
					<img src="views/images/imgsh.png" alt="" style="vertical-align:middle">
				</div>
				<div>
					<h4><<犹太人在上海>>音乐剧</h4>
					<p>by恒源祥喜剧创意</p>
					<p>已筹集12344</p>
				</div>
			</li>
				<li>
				<div>
					<img src="views/images/imgsh.png" alt="" style="vertical-align:middle">
				</div>
				<div>
					<h4><<犹太人在上海>>音乐剧</h4>
					<p>by恒源祥喜剧创意</p>
					<p>已筹集12344</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="mypage1-of-bottom">
	<div class="mypage-title1 clear">
	<span><img src="views/images/jx.png" alt=""></span>
	<span>当前最热</span>
	</div>
	<div class="mypage-concent1 clear">
		<ul class="clear">
			<li>
				<div>
					<img src="views/images/bigimgsh.png" alt="">
				</div>
				<div>
					<h4><<犹太人在上海>>音乐剧</h4>
					<p>by恒源祥喜剧创意</p>
					<p>已筹集12344</p>
				</div>
			</li>
				<li>
				<div>
					<img src="views/images/bigimgsh.png" alt="">
				</div>
				<div>
					<h4><<犹太人在上海>>音乐剧</h4>
					<p>by恒源祥喜剧创意</p>
					<p>已筹集12344</p>
				</div>
			</li>
				<li>
				<div>
					<img src="views/images/bigimgsh.png" alt="">
				</div>
				<div>
					<h4><<犹太人在上海>>音乐剧</h4>
					<p>by恒源祥喜剧创意</p>
					<p>已筹集12344</p>
				</div>
			</li>
		</ul>
	</div>
</div>
</div>