<div class="paypage1">
	<div class="paypage1-of1 clear">
		<div><strong><<犹太人在上海>>音乐剧</strong></div>
		<div><img src="views/images/jd.png" alt=""></div>
	</div>
	<div class="paypage1-of2">
		<div>支付金额</div>
		<div>支付回报</div>
		<div>备注</div>
		<div>联系方式</div>
	</div>
	<div class="paypage1-of3">
		<p><strong>风险说明</strong></p>
		<ol>
			<li>众筹成功后，如果出现项目方回报无法发放的情况，您需要直接和项目发起人协商解决退款事宜，平台没有帮您追讨资金的义务。
			</li>
			<li>支持纯抽奖档位一旦您支付成功将不予退款，项目募集失败的除外；支持无私奉献档位，项目一旦募集成功将不予退款。 
			</li>
			<li>全民创造只提供平台服务，回报由项目发起人为您提供并负责发货，同时项目发起人有为您开具发票的法定义务。
			</li>
		</ol>
	</div>
	<div class="paypage1-of4">
		<p><strong>特别说明</strong></p>
		<p>系统会自动对超出限额的订单进行全额退款，对您造成的不变，深表歉意!</p>
	</div>
	<div class="paypage1-of5">
		<a ui-sref="pay2"><input type="button" name="" value="确认支持"></a>
	</div>
</div>

