<div class="paypage3">
	<div class="paypage3-of1 clear">
		<div><img src="views/images/paysuccess.png" alt=""></div>
		<div><img src="views/images/jd3.png" alt=""></div>
	</div>
	<div class="paypage3-of2">
		<div>订单号：4498366147289支付受理成功，请耐心等待众筹项目结束！</div>
		<div>支持者每满4000人，将从中抽取1名幸运者获得［轻客智慧电单车1台］（颜色随机），［限量版车筐1个］，［轻客T恤1件］（分男女款可选-均码）。请您在备注中写明［T恤款式：男款/女款。若无备注，随机发货］。中奖名单将在话题区公布，不足4000人按4000人抽取。以上均由轻客公司免费发货。</div>
		<div>
		<span><input type="button" name="" value="查看其它众筹项目"></span>
		<span>查看以支持项目</span>
		</div>
	</div>
</div>

